.about-project {
  padding: 110px 70px;
  box-sizing: border-box;
}

.about-project__columns {
  display: flex;
  justify-content: space-between;
}

.about-project__column {
  max-width: 550px;
  margin: 70px 20px 0 0;
}

.about-project__column:last-of-type {
  margin: 70px 0 0 20px;
}

.about-project__title {
  font-size: 20px;
  line-height: 1.21;
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__text {
  font-size: 14px;
  line-height: 1.43;
  margin: 26px 0 0;
}

.about-project__time-line {
  display: flex;
  margin-top: 110px;
  font-size: 14px;
  line-height: 1.21;
}

.about-project__column_1-week {
  width: 20%;
}

.about-project__column_4-week {
  width: 80%;
}

.about-project__line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.about-project__line_1-week {
  background-color: #3DDC84;
  color: #000;
}

.about-project__line_4-week {
  background-color: #303030;
}

.about-project__line-description {
  text-align: center;
  color: #8B8B8B;
  margin: 14px 0 0;
}

@media screen and (max-width: 960px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 1.5;
    margin: 22px 0 0;
  }

  .about-project__time-line {
    margin-top: 93px;
  }
}

@media screen and (max-width: 482px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about-project__column {
    margin: 60px 0 0;
  }

  .about-project__column:last-of-type {
    margin: 56px 0 0;;
  }

  .about-project__title {
    font-size: 18px;
    margin: 0;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 1.45;
    margin: 16px 0 0;
  }

  .about-project__time-line {
    margin-top: 60px;
    font-size: 11px;
  }

  .about-project__line-description {
    margin: 10px 0 0;
  }
}