.search-form {
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 70px 83px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(170, 170, 170, .2);
}

.search-form__form {
  width: 932px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(170, 170, 170, .2);
  border-radius: 50px;
  overflow: hidden;
}

.search-form__input {
  width: 100%;
  padding: 0 0 0 22px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  color: #8B8B8B;
  background-color: inherit;
}

.search-form__btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  margin: 7px;
}

.search-form__checkbox {
  margin-left: 41px;
}

.search-form__checkbox-btn {
  display: none;
}

.search-form__checkbox-text {
  display: flex;
  flex-wrap: nowrap;
  font-size: 13px;
  line-height: 1.38;
}

.search-form__checkbox-text::after {
  content: '';
  margin-left: 14px;
  vertical-align: top;
  width: 36px;
  height: 20px;
  background-image: url('../../../images/smalltumb-off.svg');
}

.search-form__checkbox-btn:checked + .search-form__checkbox-text::after {
  background-image: url('../../../images/smalltumb-on.svg');
}